<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InscriptionUtilisateur</servlet-name>
  	<display-name>InscriptionUtilisateur</display-name>
  	<description></description>
  	<servlet-class>InscriptionUtilisateur</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjoutJeuListeJeuxPossedes</servlet-name>
  	<display-name>AjoutJeuListeJeuxPossedes</display-name>
  	<description></description>
  	<servlet-class>AjoutJeuListeJeuxPossedes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConnexionUtilisateur</servlet-name>
  	<display-name>ConnexionUtilisateur</display-name>
  	<description></description>
  	<servlet-class>ConnexionUtilisateur</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoteUtilisateur</servlet-name>
  	<display-name>NoteUtilisateur</display-name>
  	<description></description>
  	<servlet-class>NoteUtilisateur</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CalculNoteMoyenneJeu</servlet-name>
  	<display-name>CalculNoteMoyenneJeu</display-name>
  	<description></description>
  	<servlet-class>CalculNoteMoyenneJeu</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InscriptionUtilisateur</servlet-name>
  	<url-pattern>/InscriptionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutJeuListeJeuxPossedes</servlet-name>
  	<url-pattern>/AjoutJeuListeJeuxPossedes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConnexionUtilisateur</servlet-name>
  	<url-pattern>/ConnexionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoteUtilisateur</servlet-name>
  	<url-pattern>/NoteUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CalculNoteMoyenneJeu</servlet-name>
  	<url-pattern>/CalculNoteMoyenneJeu</url-pattern>
  </servlet-mapping>
  
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>http://localhost:4200</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
